#rotator {
	width:616;
	margin: 0 0 10px;
}
#rotator .infoBar{
	color:#fff;
}
#rotator .infoBar h1{
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	color:#fff;
	padding: 5px 0 0 5px
}
#rotator .infoBar p{
	margin: 0px;
	font-size: 12px;
	color:#fff;
	padding: 3px 0 0 5px
}
#rotator .back {
	position:absolute;
	top:0px;
	margin: 116px 0 0 19px;
	width: 25px;
	height: 100px;
	background-image : url('images/back.png');
	cursor: pointer;
}
#rotator .forward {
	position:absolute;
	top:0px;
	margin: 116px 0 0 612px;
	width: 25px;
	height: 100px;
	background-image : url('images/forward.png');
	cursor: pointer;
}
#rotator ul.menu {
	height: 26px;
 	margin: 0 !important;
}
#rotator ul.menu li {
	float: left;
	width: 50px;
	margin: 10px 0;
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	font-size: 10px;
	
}

#rotator li.menuli {
	background-image: url('images/button.png');
  background-position: center 0;
  color: #ffffff;
}
#rotator li.menuli-on {
	background-image: url('images/button.png');
  background-position: center -26px;
  color: #000000;
}

#rotator ul.menu h1 {
	text-transform: uppercase;
	padding: 0 0 5 0;

	font-weight: bold;
	color: #fff;
}
#rotator ul.menu p {
	font-size: 12px;
}